body{
background-image: url("https://media.giphy.com/media/LTKwbQx7SvVhS/giphy.gif");
background-repeat: no-repeat;
background-position: right top;
}

h1{

}

h2{

}
sections{

}
form{


}
footer{

}
