h1 {
  background-color: green;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ef60203c-f4af-40d4-8b12-ed8495a433bf/d3l1rwf-d1b5dd47-595a-4a2a-981f-9f1a6dd568e8.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2VmNjAyMDNjLWY0YWYtNDBkNC04YjEyLWVkODQ5NWE0MzNiZlwvZDNsMXJ3Zi1kMWI1ZGQ0Ny01OTVhLTRhMmEtOTgxZi05ZjFhNmRkNTY4ZTguanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.DQL7wTwgoolt5--8pl17NTKsDah5o5EgMgnk9V5Zuz8");
  font-family:"Lucida Console", "Courier New", monospace; 
   width: 400px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
p {
  background-color: lightblue;
  background-image: url("http://4.bp.blogspot.com/-jI5dpFlXVJc/UnhA0snLG5I/AAAAAAAAARY/Jrzc1RQxOYw/s1600/animation-gif-james-howard-animated-1274442.jpg.gif");
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  p.dashed {border-style: dashed;}
}
section{ 
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
.center {
  text-align: center;
  border: 3px solid green;
}
div.relative {
  position: relative;
  left: 30px;
  border: 3px solid #73AD21;
}
footer{
  background-color:blue;
  font-family:Arial, Helvetica, sans-serif;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
