body{
background-color:aqua;
 background-image: url('https://getwallpapers.com/wallpaper/full/6/7/d/1368470-most-beautiful-rose-flowers-wallpapers-2560x1600-for-macbook.jpg');
 background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}


h1{
color:gold;



}



h2 {
color:purple;
}



h3{
color:White;



}



P{
color:orange;
}

nav{
color:orange;
}
