body{ background-color: green;
     background-image: url("https://i.pinimg.com/originals/ae/25/57/ae2557abc1f23cedc2892484a8aa4468.gif");
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: 100% 100%;
}
Header{
  background-color:yellow;
}
h1{
color:blue;
  .open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}
p
  {
  color:pink;
  .montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


  


  
