body {
  font-family: 'Georgia', serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #002244;
  color:black;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.subtitle {
  font-size: 1.2em;
  margin-top: 10px;
  color: #ffb81c;
}

article {
  max-width: 900px;
  margin: 30px auto;
  background: #fff;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
  color: #002244;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

section {
  margin-bottom: 30px;
}

.media iframe {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
  border: none;
}

.media img {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 10px auto;
}

footer {
  background-color: #002244;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
}

footer a {
  color: #ffb81c;
  text-decoration: none;
}
