body{
 background-image: url("https://media.giphy.com/media/loj9RWUu7DdSoxrjWd/giphy.gif");
      background-repeat: no-repeat;
      background-position: right top;
      background-attachment: fixed;
      background-Color: blue;
      Color: aqua;
}
Header{
 padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
h1, h2,h3,h4{
/* style */
border: solid;

/* width | style */
border: 2px dotted;

/* style | color */
border: outset #f33;

/* width | style | color */
border: medium dashed green;

/* Global values */
border: inherit;
border: initial;
border: revert;
border: revert-layer;
border: unset;
}
P {
}
