body {
    background-image:url("dolphins.jpg");
    background-color: #6495ED;/* Used if the image is unavailable */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed;
    background-sizes: 100% 100%;
}
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

header,
nav,
main,
footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header,
footer {
    border-radius: 10px;
    background-color: #F0F8FF;
    color: #b8a6ff;
    text-align: center;
    padding: 1.5rem;
}

a.school:link {
    color: #b8a6ff;
    text-decoration: none;
}

a.school:visited {
    color: #b8a6ff;
 text-decoration:dotted;
}

a.school:hover {
    color: #F5F5DC;
    text-decoration:navy;
}

a.school:active {
    color:#b8a6ff;
}

img {
    float: right;
    margin: 8px;
    width: 200px;
    height: 274px;
}

    h1 {
    font-size: 2.75em;
    font-weight: bold;
}

h2 {
    font-size: 1.875em;
    font-weight: lighter;
}

p {
    font-size: 0.875em;
}
