h1 {
  background-color: green;
  background-image: url("https://media.giphy.com/media/8GG1UAO0HkJnG/giphy.gif");
  font-family:"Lucida Console", "Courier New", monospace; 
   width: 400px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
p {
  background-color: lightblue;
  background-image: url("http://4.bp.blogspot.com/-jI5dpFlXVJc/UnhA0snLG5I/AAAAAAAAARY/Jrzc1RQxOYw/s1600/animation-gif-james-howard-animated-1274442.jpg.gif");
  font-family: Arial, Helvetica, sans-serif;
  padding: 25px 50px 75px 300px;
  p.dashed {border-style: dashed;}
}
section{ 
  background-color: lightblue;
  background-image:url("https://media3.giphy.com/media/VEhpX9lshFoFHNS563/200w.webp?cid=ecf05e4779r3clx5sfw6274xbfcfdrrz848bwpnsrkncw2qi&ep=v1_gifs_search&rid=200w.webp&ct=g");
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 500px;
  padding-right: 30px;
  padding-bottom: 500px;
  padding-left: 80px;
}
footer{
  background-color:blue;
  font-family:Arial, Helvetica, sans-serif;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
