 body {
   background-color:#FAEBD7;
   font-family:Helvetica, Arial, sans-serif; 
   font-color:#6495ED;
   font-size: 12px;
   font-style:normal;
}  
header{   
color:#6495ED; 
font-family:'Lora', serif;
font-size:21;
font-style:normal;
}
/*navigation guided */
nav {
 padding:0;
 margin:0;
}
.navigation list{ 
}
/* normal and visited link */
a:visited {
  color:#FAEBD7;
  text-decoration:no underline;
}
a:active{ 
 color:#DEB887;
}
/*hover link*/
a:hover{
  background-color:white;
  text-decoration:underline; 
}
