/*media queries*/
@import url("https://byui-cit.github.io/advcss/images/kidsread-sm.jpg") screen;
/*body rules here*/ 
body {
background-color:#6495ED;	
font-family:Helvetica,Arial,Sans-serif;
}
/*nav goes here*/ 
nav{
 padding:0;
 margin:0;
}
/*normal and visted for nav goes here*/ 
a:visted{
background-color:#FAEBD7;
  text-decoration:none; 
        }
/*active link information goes here */
a:active {
background-color:#DEB887;
text-decoration:none;
}
a:hover {
  background-color:white; 
  text-decoration:underline;
}
a:link{ 
 text-decoration:none;
}
/*header goes here*/

.header{

}

.h2{ 
}





/*footer goes here*/

.footer{
 background-color:#DEB887;
}
/*Responsive link goes here*/
.Responsive{
}
