body {
background-image:url:("https://thumbs.dreamstime.com/b/white-empty-padded-room-22434495.jpg");
background-color:DodgerBlue;
color:aqua;
}

h1{
fontfamily:
Courier New
Lucida Console
Monaco;
}

h2 {

}

section{

}

p{


}
