body {
background-image:  url("https://thumbs.dreamstime.com/b/white-empty-padded-room-22434495.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;  

background-color:DodgerBlue;
color:aqua;
}

h1{
fontfamily:
Courier New
Lucida Console
Monaco;
}

h2 {

}

section{

}

p{


}
