body{
background-color: lightblue;
background-image: url("https://4.bp.blogspot.com/-DM2KLtkw9b0/WvMj9ainrnI/AAAAAAAAtZs/2nbcotOIp78dGoQM6vgbhNxsXHhJNitEgCLcBGAs/s1600/WhiteTameDartfrog-size_restricted.gif");
background-size:100%, 100%;
}
h1 {
  color: white;
  text-align: center;
}
p {
  font-family: verdana;
  font-size: 20px;
table {
 width: 100%;
 border-collapse: collapse;
}
  table, th, td {
  border: 1px solid;
}
  a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}  
  footer {
    color:blue;
    position:fixed;
    bottom:0;
    left:0;
  }
