body{
background-image: url("http://3.bp.blogspot.com/-CgQbDvRCQKk/VDfNuZc9GbI/AAAAAAAAM_Q/1BJWxAqlp4U/s1600/Nature%2BAnimation.gif");

}
h1{
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
p{
  font-family: "Kalnia Glaze", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer{
  width: 300px;
  padding: 25px;
  box-sizing: border-box;
}
