body {
  background-color: powderblue;
   background-image: url("https://media1.tenor.com/images/3d6580d6069805db98f2d61a8b65a8ae/tenor.gif?itemid=10027058");
   background-repeat: repeat-x;  
   
}
h1 {
  background-image: url("https://static1.squarespace.com/static/562e1777e4b04d9c2eb27404/562ed670e4b0c666575d1ef4/5750f04e555986f675e8fade/1464922217536/rhubarb-pie.gif?format=500w");
  color: blue;
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
p {
  color: red;
   font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
h2{
  color:purple;
   font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
