Body{
background-color:dodgerblue;
background-repeat: no-repeat;
background-size: 100% 100%;
background-image: url("https://www.wallofcelebrities.com/celebrity/sam-jones-iii/pictures/xxlarge/sam-jones-iii_550143.jpg");
font-family: Arial, Helvetica, sans-serif;  
}
h1{
color:yellow;
font-family:Arial, Helvetica, Sans-serif; 
}
h2{
color:aqua; 
font-family:Arial, Helvetica, Sans-serif; 
}
p{
Color:white;
font-family:Arial, Helvetica, Sans-serif;
}
footer{
color:white;
font-family: Arial, Helvetica, Sans-serif;
}
