Body{
background-color:dodgerblue;
background-image: url("    ");
font-family: Arial, Helvetica, sans-serif;  
}
h1{
color:yellow;
font-family:Arial, Helvetica, Sans-serif; 
}
h2{
color:aqua; 
font-family:Arial, Helvetica, Sans-serif; 
}
p{
Color:white;
font-family:Arial, Helvetica, Sans-serif;
}
