body{
background-image: url("https://s.yimg.com/fz/api/res/1.2/_DlWBFkcFkMhNF4CKryaJQ--~C/YXBwaWQ9c3JjaGRkO2g9NzUwO3E9OTU7dz0xMDAw/https://s.yimg.com/bj/eff9/eff9b9114d122e75354260ba57238d75.jpg");
background-repeat:no repeat;
background-attachment: fixed;
background-size:100% 100%;  
}
