body{
background-image: url(https://up.yimg.com/ib/th?id=OIP.U0RVoWb-Ua2UkCThG29tSwHaG1&pid=Api&rs=1&c=1&qlt=95&w=119&h=110);
background-color:aqua;
background-repeat:no-repeat;
}
.h1,.h2,.p{
color:blue;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
