Body{
 background-color: lightblue;
 background-image: url("http://bestanimations.com/Nature/nature-waterfall-animated-gif-2.gif");
 background-repeat: no-repeat;
 background-size: 150px;
  width: 300px;
  height: 300px;
  border: 2px solid;
  color: pink;
}
h1{
background-color:blue;
}
p{
background-color:aqua;
}
