body{
background-color:navy; 
background-image: url("http://i.kinja-img.com/gawker-media/image/upload/t_original/is9l7titozic2s3xpqjk.gif");
background-repeat: no-repeat;
background-position: right top;
}
