body{
background-image: url("https://media1.tenor.com/images/09bae72d656f836de62d2d6e9e1f7639/tenor.gif?itemid=15667107" alt="snow">
background-repeat: no-repeat;
background-position: right top;  
background-color:babypink;  
}
