Body{
background-color:DarkOrchid;
 background-image: url(https://64.media.tumblr.com/ed9a0f97a849ec328f6e308138690912/tumblr_ptzbihPWeU1xoammgo1_540.gif), url(https://64.media.tumblr.com/ed9a0f97a849ec328f6e308138690912/tumblr_ptzbihPWeU1xoammgo1_540.gif);
 background-position: right bottom, left top;
 background-repeat: no-repeat, repeat; 
}
h1{
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800

.assistant-<uniquifier> {
  font-family: "Assistant", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

color:AliceBlue;

}

h2{
color:white; 

}
P{
color:Blue;

}
Footer{
background-color:red;

}
